- content_for :head do
  = javascript_include_tag 'markerclusterer', 'oms.min'
  :css
    html, body, #content, #maprow, #mapspan {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    #internmap {
      margin: 0;
      padding: 0;
      height: 80%;
    }
    #internmap img {
      max-width: none;
    }
    .bold {
      font-weight: bold;
    }
  :javascript
    var map;
    var markers;
    function makemap(interns) {
      var sf = new google.maps.LatLng(37.77493, -122.419416);
      var opts = {
        zoom: 12,
        center: sf,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('internmap'), opts);
      markers = []
      var oms = new OverlappingMarkerSpiderfier(map);
      var iw = new google.maps.InfoWindow();
      google.maps.event.addListener(map, 'click', function() {
        if (iw != undefined) {
          iw.close();
        }
      });
      $.each(interns, function(i,r){
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(r['lat'], r['lng']),
          map: map,
          title: r['name']
        });
        marker.info = new google.maps.InfoWindow({
          content: r['info']
        });
        oms.addMarker(marker);
        google.maps.event.addListener(marker, 'click', function() {
          if (iw != undefined) {
            iw.close();
          }
          iw = marker.info
          iw.open(map, marker);
        });
        markers.push(marker)
      });
    }
    function initialize() {
      $.get("/interns", makemap);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    $(document).on('change', ".intern-filter", function() {
      $.get("/interns", {school_id: $("#school-select").val(),
                         company_id: $("#company-select").val()}, makemap)
    });

.row#maprow
  .span9#mapspan
    %b School:
    = select_tag(:school, options: @schools, id: "school-select", class: "intern-filter")
    %b Company:
    = select_tag(:company, options: @companies, id: "company-select", class: "intern-filter")
    #internmap
  .span3
    %p.bold Fun Stats:
    %p Top School: #{@bestschool.name} (#{@bestschool.interns.count})
    %p Top Company: #{@bestcompany.name} (#{@bestcompany.interns.count})
    %p Total Interns: #{@interns_count}


