- content_for :head do
  = javascript_include_tag 'jquery.locationpicker'
  :javascript
    $(document).ready(function(){
      $('input#intern_location').locationPicker();
    });
  :css
    #intern_location-picker img {
      max-width: none;
    }

- form_for @intern, url(:interns, :create), onsubmit: "return confirm('Are you sure? You can not change this later.')" do |f|
  %fieldset
    .row
      .span12
        %p
          Any information you include here is accessible to anyone with the link.
          Do not put any information you are not comfortable sharing.
        %p
          Location is the only necessary field, as you need it to be shown on
          the map, but if you prefer not to disclose that, feel free to only
          include the general area(SF, San Jose, etc...)
      .span4
        = f.error_messages
        %p
          = f.label :name
          = f.text_field :name, placeholder: "Name"
        %p
          = f.label :school
          = f.select :school, collection: @schools, fields: [:name, :id], include_blank: true
        %p
          %label{for: 'intern_new_school'} Or add your school.
          = f.text_field :new_school, placeholder: "New school"
        %p
          = f.label :company
          = f.select :company, collection: @companies, fields: [:name, :id], include_blank: true
        %p
          %label{for: 'intern_new_company'} Or add your company.
          = f.text_field :new_company, placeholder: "New company"
        %p
          = f.label :extra_info
          = f.text_area :extra_info

      .span8
        = f.text_field :location

    = f.submit "Save", class: 'button'
