!!!
%html
  %head
    %title Interns
    = stylesheet_link_tag 'bootstrap', 'bootstrap-responsive'
    = javascript_include_tag 'jquery', 'jquery-ujs', 'bootstrap', 'https://maps.google.com/maps/api/js?sensor=true'
    = yield_content :head
  %body
    %header.navbar
      .navbar-inner
        .container
          = link_to 'InternMap', '/', class: 'brand'
          %nav
            %ul.nav
              %li
                = link_to 'Add Yourself!', url(:interns, :new)

    = flash_tag :success, class: "alert alert-success"
    = flash_tag :error, class: "alert alert-error"
    .container#content= yield

